<html>
    <body text="red">
        <h1> Hello, world! I'm {{ state }} and my ip 
        {% for ipv4 in ansible_all_ipv4_addresses %}
            {{ ipv4 }}
        {% endfor %}
        </h1>
    </body>
</html>
